<div class="container">
  <h1>Litmus Status Page</h1>

  <div class="alert <%= status_class(@current_status) %>">
    <p>Litmus is currently <%= @current_status.current_status %>.</p>
    <p>Last updated: <%= @current_status.created_at.strftime("%I:%M%p on %m/%d/%Y") %>.</p>
  </div>

  <div>
    <table class="table">
      <thead class="thead-light">
        <tr>
          <th scope="col">Message</th>
          <th scope="col">Timestamp</th>
        </tr>
      </thead>
      <tbody class="table-striped">
        <% @status_messages.each do |status_message| %>
          <tr>
            <td><%= status_message[:description].html_safe %></td>
            <td><%= status_message[:created_at] %></td>
          </tr>
        <% end %>
        <%== pagy_nav(@pagy) %>
      </tbody>
    </table>
  </div>
</div>
